<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mishlavim">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/bat_ami_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".deleteUserActivity"></activity>
        <activity android:name=".adminActivities.AdminViewGuideVoluActivity" />
        <activity android:name=".UserSettingActivity" />
        <activity
            android:name=".guideActivities.GuideNavigationActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".adminActivities.AdminNavigationActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".login.forgotPassword" />
        <activity android:name=".guideActivities.GuideFormsPermissionActivity" />
        <activity android:name=".volunteerActivities.VolunteerFinishedFormActivity" />
        <activity android:name=".volunteerActivities.VolunteerMainActivity" />
        <activity android:name=".volunteerActivities.VolunteerViewOldFormActivity" />
        <activity android:name=".volunteerActivities.VolunteerFillOutFormActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>