<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mishlavim">

    <application
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:allowBackup="true"
        android:icon="@drawable/bat_ami_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".volunteerActivities.FinishedFormActivity">

        </activity>
        <activity
            android:name=".volunteerActivities.VolunteerMainActivity"
            android:label="volunteerMainActivity" />
        <activity android:name=".volunteerActivities.ViewOldFormActivity" />
        <activity android:name=".volunteerActivities.FillOutFormActivity" />
        <activity android:name=".adminActivities.EditFormActivity" />
        <activity android:name=".adminActivities.AdminMainActivity" />
        <activity android:name=".adminActivities.AdminAddNewUserActivity" />
        <activity android:name=".adminActivities.AdminCreateFormActivity" />
        <activity
            android:name=".login.SplashScreenActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>