<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mishlavim">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/bat_ami_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".adminActivities.BottomNavigation"></activity>
        <activity android:name=".adminActivities.AdminReportsActivity" />
        <activity android:name=".adminActivities.AdminFormsActivity" />
        <activity android:name=".guideActivities.GuideVoluSettingActivity" />
        <activity android:name=".guideActivities.GuideReportsActivity" />
        <activity android:name=".guideActivities.GuideFormsPermissionActivity" />
        <activity android:name=".guideActivities.GuideMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".guideActivities.GuideAddVolunteerActivity" />
        <activity android:name=".volunteerActivities.VolunteerFinishedFormActivity" />
        <activity
            android:name=".volunteerActivities.VolunteerMainActivity"
            android:label="volunteerMainActivity" /> <!-- <activity android:name=".guideActivities.GuideAddVolunteerActivity" /> -->
        <activity android:name=".volunteerActivities.VolunteerViewOldFormActivity" />
        <activity android:name=".volunteerActivities.VolunteerFillOutFormActivity" />
        <activity android:name=".adminActivities.AdminMainActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".adminActivities.AdminAddNewUserActivity" />
        <activity android:name=".adminActivities.AdminCreateFormActivity" />
        <activity
            android:name=".login.SplashScreenActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>